@import "reset-css/reset.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300:400,500,600");

*, *::before, *::after {
  box-sizing: border-box;
  font: inherit;
}


body{
  background-color: $bg-color;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: $normal-font-size;
  line-height: 18px;
  color: #262626;
}

img{
  max-width: 100%;
}