$tablet-width: 768px;
$desktop-width: 875px;
$xl-desktop-width: 1351px;
$phone-width: 320px;
$iphone6-width: 375px;
$iphone6plus-width: 450px;

@mixin breakpoint($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (min-width: #{$iphone6plus-width}) and (max-width: #{$desktop-width}) {
      @content;
    }
  }
  @else if $breakpoint == "tablet-landscape" and (orientation: landscape) {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
      @content;
    }
  }
  @else if $breakpoint == "tablet-portrait" and (orientation: portrait) {
    @media (min-width: #{$tablet-width}) and (max-width: #{desktop-width}) {
      @content;
    }
  }
  @else if $breakpoint == "phone" {
    @media (min-width: #{$phone-width}) and (max-width: #{$iphone6plus-width}) {
      @content;
    }
  }
  @else if $breakpoint == "phone-landscape" {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) and (orientation: landscape) {
      @content;
    }
  }
  @else if $breakpoint == "desktop-xl" {
    @media (min-width: #{$xl-desktop-width}) {
      @content;
    }
  }
  @else if $breakpoint == "phone-tablet" {
    @media (max-width: #{$desktop-width}) {
      @content;
    }
  }
}

@mixin borderBox($radius){
  background-color: #fff;
  border: 1px solid $box-border-color;
  padding: 10px 0;
  margin-bottom: 10px;
  @if $radius == yes {
    border-radius: 3px;
  }
}

@mixin blueButton() {
  @content;
  -webkit-appearance: none;
  width: 100%;
  padding: 2px 9px;
  background-color: $light-blue;
  color: #fff;
  border: 1px solid $light-blue;
  border-radius: 3px;
  font-size: $normal-font-size;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  &:active,
  &:focus {
    outline: none;
  }
  &:hover,
  &:active {
    opacity: 0.7;
  }
}

@mixin divider($direction) {
  width: 42%;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: $divider;
  @if $direction == left {
    left: 0;
  }
  @else if $direction == right {
    right: 0;
  }
}