.footer {
  width: 100%;
  padding: 0 20px;
  font-size: $small-font-size;
  font-weight: 600;
  text-transform: uppercase;
  .wrapper {
    max-width: $max-page-width;
    padding: 38px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    @include breakpoint("phone-tablet") {
      flex-direction: column;
      justify-content: center;
      padding: 10px 0;
    }
    .nav {
      .list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        @include breakpoint("phone-tablet") {
          max-width: 360px;
          justify-content: center;
        }
        .list-item {
          color: $dark-blue;
          margin-right: 16px;
          margin-bottom: 10px;
          cursor: pointer;
          &:last-child {
            @include breakpoint("phone-tablet") {
              margin-right: 0;
            }
          }
        }
      }
    }
    .copyright {
      color: $dark-grey;
      text-align: center;
    }
  }
}